body{
	background: red;
}
.table{
	background-color:white;
}

.floating{
	position:fixed;
}

.absolute{
	position:absolute;
}

.floating{
	position:fixed;
	bottom:2em;
	right:2em
	z-index:100;
}

.product{
	width:600px;
	max-width:100%
	padding:1em;
	position:relative;

	h1{
		padding-bottom:100px;
		border-bottom:solid 1px;
	}
}
.actions{
	right:1em;
	top:10px;
	}	